.home {
  .features {
    background-color: #f1fdf7;
    display: flex;
    justify-content: center;
    padding: 100px 0px;

    .container {
      width: 1150px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 15px;

      .item {
        h1 {
        }
        p {
        }
        .title {
        }
        video {
          width: 720px;
        }
      }
    }
  }
}
