.home {
  .features {
    background-color: #f1fdf7;
    display: flex;
    justify-content: center;
    padding: 100px 0px;

    &.dark {
      background-color: #0d084d;
      color: #fff;

      h1 {
        color: #fff !important;
      }

      p {
        color: #fff !important;
        margin-bottom: 20px !important;
      }

      .title {
        color: #fff !important;
        font-weight: 300 !important;
        font-size: 14px !important;

        i {
          width: 20px !important;
          height: 16.5px !important;
        }
      }

      img {
        width: 100%;
      }

      button {
        width: max-content;
        height: 50px;
        margin-top: 2rem;
        background-color: #1dbf73;
        color: #fff;
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        margin-bottom: 20px;
        border: none;
        font-weight: 700;

        &:hover{
            background-color: #013914;
        }
      }
    }

    .container {
      width: 1150px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 150px;

      .item {
        display: flex;
        flex-direction: column;
        gap: 15px;
        &:first-child {
          flex: 2;
        }

        &:last-child {
          flex: 3;
        }
        h1 {
          font-weight: 500;
          margin-bottom: 10px;
        }
        p {
          font-size: 18px;
          font-weight: 300;
          color: gray;
          line-height: 28px;
          letter-spacing: 1px;
        }
        .title {
          display: flex;
          align-items: center;
          gap: 10px;
          font-weight: 500;
          font-size: 18px;
          color: gray;

          i {
            width: 24px;
            height: 20px;
          }
        }
        video {
          width: 600px;
        }
      }
    }
  }
}
